@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --primary-color: #1e4b8f;  /* Azul */
    --secondary-color: black;  /* Negro */
    --tertiary-color: white;   /* Blanco */
    --neutral-color: #f9f9f9;  /* Gris Claro */
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--neutral-color);
    color: var(--secondary-color);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: var(--primary-color);
    padding: 20px;
    text-align: center;
    color: var(--tertiary-color);
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

section {
    margin-bottom: 40px;
}

h2 {
    font-size: 2rem;
    color: var(--primary-color);
    margin-bottom: 15px;
}

p {
    font-size: 1rem;
    margin-bottom: 10px;
}

ul {
    display: flex;
    gap: 40px;
    text-align: center;
    justify-content: center;
    list-style-type: disc;
    padding-left: 20px;
}

a:hover {
    color: var(--primary-color);
}

ul li {
    justify-content: center;
    font-size: 1rem;
    margin-bottom: 5px;
    list-style:none
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}

.site-name, .purpose, .scenarios, .colors, .typography {
    background-color: var(--tertiary-color);
    border: 1px solid var(--primary-color);
    padding: 20px;
    border-radius: 8px;
}

footer {
    text-align: center;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    padding: 15px;
    margin-top: 40px;
}

footer p {
    font-size: 1rem;
    margin: 0;
}

iframe {
    width: 1200px;
    height: 500px;
}

.menu-toggle {
    display: none; 
  }
