

@media screen and (max-width: 768px) {

    :root {
        --primary-color: #1e4b8f;  
        --secondary-color: black;  
        --tertiary-color: white;   
        --neutral-color: #f9f9f9;  
    }
    
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    p, ul li {
        font-size: 0.9rem;
    }

    .container {
        padding: 10px;
    }

    header {
        padding: 15px;
    }

    section {
        margin-bottom: 20px;
    }

    ul {
        flex-direction: column;
        gap: 20px;
    }

    .site-name, .purpose, .scenarios, .colors, .typography {
        padding: 15px;
    }

    footer {
        padding: 10px;
    }

    iframe {
        width: 250px;
        height: 250px;
        padding: 15px;
        border: none; 
    }

    .nav-links {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
      }
    
      .menu-toggle {
        display: flex;
        flex-direction: row;
        justify-content: right;
        cursor: pointer;
        color: var(--tertiary-color);
        font-size: 30px;
        margin-right: 20px;
      }
    
      .menu-toggle.open + .navigation {
        display: flex;
      }

      .navigation {
        display: none; /* Hide default navigation */
        flex-direction: column;
        position: fixed;
        top: 60px;
        right: 0;
        background-color: var(--tertiary-color);
        width: 100%;
        padding: 5px;
        box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.5);
      }
}
