
header {
    background-color: #29465b;
    color: #ffffff;
    text-align: center;
    padding: 15px;
    font-family: "Roboto", sans-serif;
}

header p {
    color: gold;
    margin: 10px;
}

/* Navigation section */
nav {
    font-family: "calibri";
    display: flex;
    background-color: #333;
    justify-content: center;
    padding: 0,5px;   
    font-family: "Roboto", sans-serif;
    
}

nav li {
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-left: 80px;
    margin-right: 80px;
}

a {
    text-decoration: none;
    color: #f4f4f4;
}

/* Main content layout */
main {
    font-family: "calibri";
    display: grid;
    grid-template-columns: 600px 300px;
    gap: 20px;                    
    justify-content: center;
    margin: 20px;
    font-family: "Roboto", sans-serif;
}

/* Section layout within main */
main section {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;  
    grid-template-rows: 1fr;
    margin: 10px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    border: 1px solid #333;
    margin-left: 10px;
}

main section h1 {
    text-align: center;
    color: #f4f4f4;
    background-color: #29465b;
    margin-bottom: 15px;        
    padding: 10px;
    grid-row: 1;
    grid-column: 1;
    border-radius: 8px;
}

/* Section text styling */
main section p {
    margin-bottom: 20px;          
    color: #333;
    grid-row: 2;
}

/* Image within the section "About me" */
main section img {
    grid-row: 2;
    grid-column: 3;
    max-width: 200px;
    margin-left: 20px;
    border-radius: 8px;
}

/* Aside section "web dev resources" */
main aside {
    margin: 10px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    border: 1px solid #333;
        font-family: "Roboto", sans-serif;
    
}

main aside h1 {
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    color: #f4f4f4;
    background-color: #29465b;
    margin-bottom: 15px;
}

/* Links inside the aside */
main aside a {
    color: #333;
    margin-top: 10px;
    display: block;
}

.country{
    display: grid;
    grid-template-columns: 1fr, 1fr;
    align-items: center;
    text-align: center;
    width: 900px;
    height: 300px;
    border: 1px solid black;
    margin-left: 10px;
    border-radius: 8px;
    
}

.country img{
    grid-column: 1;
    width: 200px;
}

.country p{
    grid-column: 2;
    text-align: left;
}

/* Footer section */
footer {
    font-family: "calibri";
    text-align: center;
    background-color: #29465b;
    color: #f4f4f4;
    border-radius: 8px;

    padding: 20px;
}