@media (min-width: 768px) {
    nav {
        display: flex;
        justify-content: flex-end;
    }

    nav ul {
        display: flex;
        justify-content: center;
    }

    nav li {
        margin: 0 20px;
    }

    .hamburger {
        display: none;
    }
}