
body {
    font-family: "Roboto", sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}


header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(44, 3, 78);
    align-items: center;
    font-family: "Roboto", sans-serif;
}

header h1 {
    display: flex;
    grid-column: 1;
    padding: 20px;
    font-size: 30px;
    color: aliceblue;
    justify-content: left;
    text-align: center;
}

body h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
}


nav {
    display: flex;
    grid-column: 2;
    padding: 10px;
    text-align: center;
    justify-content: right;
}

nav ul {
    list-style-type: none;
    padding-left: 0;
}

nav li {
    display: inline-block;
    margin: 20px;
    font-size: 20px;
}

nav li a {
    color: aliceblue;
    text-decoration: none;
}

nav li a:hover {
    color: rgb(77, 11, 131);
}


.images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.images img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


.temple-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

.temple-card {
    background-color: white;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;
    text-align: center;
    overflow: hidden;
}

.temple-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

figcaption {
    text-align: center;
    padding: 15px;
}

figcaption h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

figcaption p {
    font-size: 1em;
    color: #555;
}


footer {
    font-family: "Roboto", sans-serif;
    text-align: center;
    background-color: rgb(44, 3, 78);
    color: #f4f4f4;
    padding: 20px;
    margin-top: 20px;
}


.hamburger {
    font-size: 30px;
    color: white;
    cursor: pointer;
    display: block;
}


ul.menu {
    display: none;
}


ul.menu.show {
    display: block;
    text-align: center;
}

ul.menu li {
    margin: 15px 0;
}

ul.menu li a {
    color: aliceblue;
    font-size: 25px;
    padding: 10px;
    display: block;
}


